<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.celular %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @cliente.barrio %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Referencia de la dirireción:</strong>
  <%= @cliente.refdir %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @cliente.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @cliente.hora %>
</p>

<p>
  <strong>Ocación:</strong>
  <%= @cliente.ocacion %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @cliente.valor %>
</p>

<%#= link_to 'Editar', edit_cliente_path(@cliente) %> 
<%= link_to 'Atras', clientes_path %>
