<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>Olvid칩 su contrase침a?</h3>
    <p>Ingrese un correo alterno, para recuperar su contrase침a.</p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :Correo_alterno %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit 'Recuperar contrase침a', :class => 'button right' %>
  <% end %>
</div>
