<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fiesta Y Cumbia" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">
    <link rel="shortcut icon" href="http://files.papayera-y-chirimia-medellin.webnode.es/200000014-2394b24943/fondo.jpg">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script 
        src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
    </script>
  </head>
  <body>
    <h1>Fiesta Y Cumbia</h1>
    <header>
      <%= render 'layouts/navigation' %>
      <h1>Telfs:<span class="Estilo27"> 281 09 00</span> <span class="Estilo30"><%= image_tag('whatsapp.jpg', :alt => 'vallenatos', :width=>"100", :height=>"50")%> 301 570 06 60 - 300 626 36 74</span></h1>
      <p><%= link_to image_tag('facebook.png', :alt => 'itagui', :width=>"100", :height=>"50"), "https://es-la.facebook.com/fiestaycumbia/" %></p>   
      
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
      <div  class="container">
       <%= yield %>
      </div>
    </main>
  </body>
</html>